.post-container {
  margin: auto;
  width: 21%;
  height: 27rem;
  min-width: 20rem;
  .content-container {
    width: 20rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .image-container {
      width: inherit;
      height: 20rem;
      display: flex;
      align-items: center;
      img {
        height: inherit;
        width: inherit;
        object-fit: cover;
      }
    }

    .buttons-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
