@import "./Styles/colors.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
html {
  height: 100%;
}
body {
  height: 100%;

  font-family: "Khula";
}

#root {
  height: inherit;
}

footer {
  // position: fixed;
  // bottom: 0;
  // left: 0;
  height: 100px;
  background-color: $background-color;
}
